@model Model.EF.KhachHang
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Header{
    Người Dùng
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cập nhật</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "UserKhachHang", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Mã Khách Hàng</label>
                @Html.TextBoxFor(model => model.MaKH, new { @class = "form-control", @ReadOnly = "ReadOnly" })
            </div>
            <div class="form-group row">
                <div class="col">
                    <label>Tài khoản</label>
                    @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                </div>
                <div class="col">
                    <label>Mật khẩu</label>
                    <input type="password" id="MatKhau" name="MatKhau" class="form-control" />
                    @Html.ValidationMessageFor(model => model.MatKhau)
                </div>
                <div class="col">
                    <label>Họ tên</label>
                    @Html.TextBoxFor(model => model.HoTen, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HoTen)
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label>Số điện thoại</label>
                            @Html.TextBoxFor(model => model.DienThoai, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DienThoai)
                        </div>
                        <div class="col">
                            <label>Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label>Giới tính</label>
                            @Html.DropDownListFor(model => model.GioiTinh, new SelectList(new[] { "Nam", "Nữ" }), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GioiTinh)
                        </div>
                        <div class="col">
                            <label>Ngày sinh</label>
                            @Html.TextBoxFor(model => model.NgaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @style = "width: 170px" })
                            @Html.ValidationMessageFor(model => model.NgaySinh)
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Địa chỉ liên lạc</label>
                @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DiaChi)
            </div>

            <div class="form-group">
                <center>
                    <input type="submit" value="Hoàn thành" class="btn btn-primary" />
                </center>
            </div>
        }
    </div>
</div>


