@using Model.EF;
@model List<ThuCung>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li class="span4" style="margin-left:1%;">
            <div class="thumbnail">
                <a href="@Url.Action("ChiTietThuCung","TC",new {@maTC=item.MaTC})" class="overlay"></a>
                <a class="zoomTool" href="@Url.Action("ChiTietThuCung","TC",new {@maTC=item.MaTC})" title="add to cart"><span class="fas fa-search"></span> Xem Chi Tiết</a>
                <a href="@Url.Action("ChiTietThuCung","TC",new {@maTC=item.MaTC})"><img style="width:180px;height:180px;" src="@Url.Content(item.AnhBia)" alt=""></a>
                <div style="height:120px;" class="caption cntr">
                    <p style="text-transform:uppercase">@item.TenTC</p>
                    <p><strong>@item.GiaBan.ToString("N0") VNĐ</strong></p>
                    <h4><a class="shopBtn" href="/them-gio-hang?productID=@item.MaTC&quantity=1&strURL=@Request.Url.ToString()" title="add to cart"> Mua Ngay </a></h4>
                </div>
            </div>
        </li>
    }
}

