@model DoAn_DinhPhatTai.Models.RegisterModel
@{
    ViewBag.Title = "Đăng ký";
    //Layout = "~/Views/Layout/_UserLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Login Admin</title>
    <link href="~/Assets/User/css/DangNhap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body class="anh">
    @using (Html.BeginForm("DangKy", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="register">
            @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "color:red" })
            @if (ViewBag.Success != null)
            {
                <div class="alert alert-success" style="color:chartreuse">@ViewBag.Success</div>
            }
            <h2 class="nonactive"><a href="/User/DangNhap">Đăng Nhập</a></h2>
            <h2 class="active">Đăng Ký</h2>
            <div class="form-group">
                @Html.LabelFor(model => model.TaiKhoan, htmlAttributes: new
                {
                    @class = "control-label col-md-2",
                   style = "margin-right:2%;"
                })
                <div class="col-md-push-6">
                    @Html.TextBoxFor(model => model.TaiKhoan, htmlAttributes: new { @class = "text" })
                    @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right:2%;" })
                <div class="col-md-push-6">
                    @Html.PasswordFor(model => model.MatKhau, htmlAttributes: new { @class = "text" })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.XacNhanMK, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right:2%;" })
                <div class="col-md-push-6">
                    @Html.PasswordFor(model => model.XacNhanMK, htmlAttributes: new { @class = "text" })
                    @Html.ValidationMessageFor(model => model.XacNhanMK, "", new { @class = "text-danger", style = "color:red" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right:2%;" })
                <div class="col-md-push-6">
                    @Html.TextBoxFor(model => model.HoTen, htmlAttributes: new { @class = "text" })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger", style = "color:red" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right:2%;" })
                <div class="col-md-push-6">
                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "text" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style = "color:red" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right:2%;" })
                <div class="col-md-push-6">
                    @Html.TextBoxFor(model => model.DiaChi, htmlAttributes: new { @class = "text" })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger", style = "color:red" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.DienThoai, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right:2%;" })
                <div class="col-md-push-6">
                    @Html.TextBoxFor(model => model.DienThoai, htmlAttributes: new { @class = "text" })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger", style = "color:red" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right:2%;" })
                <div class="col-md-push-6">
                    @Html.DropDownListFor(model => model.GioiTinh, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "Nam" },
                       new { value = 1 , text = "Nữ" },
                    },
                  "value",
                  "text",
                   2), htmlAttributes: new { @class = "text2" })
                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger", style = "color:red" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right:2%;" })
                <div class="col-md-push-6">
                    @Html.TextBoxFor(model => model.NgaySinh, htmlAttributes: new { @class = "text" })
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger", style = "color:red" })
                </div>
            </div>
            <div class="col-md-push-6">
                <p style="padding-bottom:10%;"><input type="submit" value="Đăng ký" class="registerbtn" /></p>
            </div>
            <a href="~/Home/Index" style="color:white">Quay Lại Trang Chủ <i class="fas fa-chevron-circle-right" style="color:white"></i></a>
        </div>
    }
</body>
</html>